body {
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui, "Ubuntu",
        "Adwaita Sans", "Cantarell", "Fira Sans", Roboto, "Noto Sans", "Oxygen",
        "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

p {
    font-size: 1rem;
    line-height: 1.5em;
}
