body {
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui, "Ubuntu",
        "Adwaita Sans", "Cantarell", "Fira Sans", Roboto, "Noto Sans", "Oxygen",
        "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px;
}

body,
html,
.wrapper {
    height: 100%;
}

.playgroundContainer {
    height: 90%;
    width: 90%;
    margin: auto;
}

#fileInput {
    display: none;
}

.playgroundButton {
    margin: 4px;
}
